Repository Evcat6/join-room, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, backend, frontend, ENV, dependencies

.github/labeler.yml:

root: '*'

workflows: '.github/**/*'

shared: 'shared/**/*'

backend:
  - any:
      - 'backend/**/*'
      - '!backend/.env.example'

frontend:
  - any:
      - 'frontend/**/*'
      - '!frontend/.env.example'

ENV:
  - 'backend/.env.example'
  - 'frontend/.env.example'
  - 'lambdas/.env.example'

dependencies:
  - 'backend/package.json'
  - 'frontend/package.json'
  - 'package.json'

jr-9: + full auth functionality
  backend/src/api/auth.api.ts
  backend/src/common/types/types.ts
  backend/src/common/validation-schemas/validation-schemas.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/services.ts
  frontend/src/common/types/types.ts
  frontend/src/common/validation-schemas/validation-schemas.ts
  frontend/src/pages/sign-in/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/sign-in/components/sign-in-form/styles.module.css
  frontend/src/pages/sign-in/sign-in.page.tsx
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/reducer.ts
  shared/src/enums/exception-message.enum.ts
  shared/src/index.ts
  shared/src/types/types.ts
  shared/src/types/user-sign-in-request-dto.type.ts
  shared/src/types/user-sign-in-response.type.ts
  shared/src/validation-schemas/sign-in.validation.ts
  shared/src/validation-schemas/validation-schemas.ts
Labels: shared, backend, frontend

jr-14: - root path
  frontend/src/main.tsx
  frontend/src/router/router.tsx
  frontend/src/router/routes.tsx
Labels: frontend

jr-14: + documentation
  backend/src/api/auth.api.ts
  backend/src/api/users.api.ts
Labels: backend

jr: + load user load route
  backend/src/api/api.ts
  backend/src/api/auth.api.ts
  backend/src/api/users.api.ts
  backend/src/app.ts
  backend/src/common/constants/constants.ts
  backend/src/common/constants/user.constant.ts
  backend/src/common/constants/white-routes.constant.ts
  backend/src/common/enums/enums.ts
  backend/src/common/helpers/get-id-from-token/get-id-from-token.helper.ts
  backend/src/common/helpers/get-token/get-token.helper.ts
  backend/src/common/helpers/helpers.ts
  backend/src/common/middlewares/authorization/authorization.middleware.ts
  backend/src/common/middlewares/error-handler/error-handler.middleware.ts
  backend/src/common/middlewares/middlewares.ts
  frontend/src/common/enums/app-route.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/common/private-route/private-route.tsx
  frontend/src/components/common/public-route/public-route.tsx
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/services/services.ts
  shared/src/enums/api-path.enum.ts
  shared/src/enums/auth-api-path.enum.ts
  shared/src/enums/enums.ts
  shared/src/enums/users-api-path.enum.ts
  shared/src/exceptions/http-error.exception.ts
  shared/src/index.ts
Labels: shared, backend, frontend

jr-11: + private public routes
  backend/src/api/auth.api.ts
  backend/src/api/users.api.ts
  backend/src/common/constants/white-routes.constant.ts
  backend/src/common/middlewares/authorization/authorization.middleware.ts
  frontend/src/app/app.tsx
  frontend/src/common/types/types.ts
  frontend/src/components/common/common.ts
  frontend/src/components/common/private-route/private-route.tsx
  frontend/src/components/common/public-route/public-route.tsx
  frontend/src/components/components.ts
  frontend/src/pages/home/home.page.tsx
  frontend/src/pages/pages.ts
  frontend/src/router/router.tsx
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/common.ts
  frontend/src/store/auth/reducer.ts
  shared/src/index.ts
  shared/src/types/types.ts
  shared/src/types/user-load-response-dto.type.ts
Labels: shared, backend, frontend

feat: + join chat functionality
  backend/src/api/user-chats.api.ts
  backend/src/common/entities/message.entity.ts
  backend/src/common/models/message.model.ts
  backend/src/repositories/chat-messages.repository.ts
  backend/src/repositories/user-chats.repository.ts
  backend/src/services/user-chats/user-chats.service.ts
  frontend/src/services/user-chats-api/user-chats-api.service.ts
  frontend/src/store/user-chats/actions.ts
  frontend/src/store/user-chats/common.ts
  frontend/src/store/user-chats/reducer.ts
Labels: backend, frontend

upd: exception load path
  backend/src/api/user-chats.api.ts
Labels: backend
